<img src="images/usm.jpg" width="480" height="240" align="left"/>

# MAT281 - Laboratorio N°03

## Objetivos de la clase

* Reforzar los conceptos básicos de pandas.

## Contenidos

* [Problema 01](#p1)

## Problema 01


<img src="https://imagenes.universia.net/gc/net/images/practicas-empleo/p/pr/pro/profesiones-con-el-avance-de-la-tecnologia.jpg" width="480" height="360" align="center"/>


EL conjunto de datos se denomina `ocupation.csv`, el cual contiene información tal como: edad ,sexo, profesión, etc.

Lo primero es cargar el conjunto de datos y ver las primeras filas que lo componen:

In [1]:
import pandas as pd
import os

In [38]:
# cargar datos
df = pd.read_csv(os.path.join("data","ocupation.csv"), sep="|").set_index('user_id')
df.head()
df.dropna(inplace = True)

El objetivo es tratar de obtener la mayor información posible de este conjunto de datos. Para cumplir este objetivo debe resolver las siguientes problemáticas:

1. ¿Cuál es el número de observaciones en el conjunto de datos?

In [39]:
print("El numero de observaciones es:")
df.shape[0]

El numero de observaciones es:

943

2. ¿Cuál es el número de columnas en el conjunto de datos?

In [40]:
print("El numero de columnas es:")
df.shape[1]

El numero de columnas es:

4

3. Imprime el nombre de todas las columnas

In [41]:
print("Las columnas son:")
df.columns

Las columnas son:

Index(['age', 'gender', 'occupation', 'zip_code'], dtype='object')

4. Imprima el índice del dataframe

In [42]:
print("Indice:")
df.index

Indice:

Int64Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
            ...
            934, 935, 936, 937, 938, 939, 940, 941, 942, 943],
           dtype='int64', name='user_id', length=943)

5. ¿Cuál es el tipo de datos de cada columna?

In [43]:
print("Tipo de dato por columna:")
df.dtypes

Tipo de dato por columna:

age            int64
gender        object
occupation    object
zip_code      object
dtype: object

6. Resumir el conjunto de datos

In [63]:
df.describe()

              age
count  943.000000
mean    34.051962
std     12.192740
min      7.000000
25%     25.000000
50%     31.000000
75%     43.000000
max     73.000000

7. Resume conjunto de datos  con todas las columnas

In [45]:
df.describe(include="all")

               age gender occupation zip_code
count   943.000000    943        943      943
unique         NaN      2         21      795
top            NaN      M    student    55414
freq           NaN    670        196        9
mean     34.051962    NaN        NaN      NaN
std      12.192740    NaN        NaN      NaN
min       7.000000    NaN        NaN      NaN
25%      25.000000    NaN        NaN      NaN
50%      31.000000    NaN        NaN      NaN
75%      43.000000    NaN        NaN      NaN
max      73.000000    NaN        NaN      NaN

8. Imprimir solo la columna de **occupation**.

In [46]:
df["occupation"].head()

user_id
1    technician
2         other
3        writer
4    technician
5         other
Name: occupation, dtype: object

9. ¿Cuántas ocupaciones diferentes hay en este conjunto de datos?

In [58]:
occupations_uniq = df["occupation"].unique()
print("Hay",len(occupations_uniq) ,"ocupaciones diferentes en el conjunto de datos")

Hay 21 ocupaciones diferentes en el conjunto de datos

10. ¿Cuál es la ocupación más frecuente?

In [68]:
oc_freq = df["occupation"].value_counts()
print("La ocupacion mas frecuente es:")
oc_freq.index[0]

La ocupacion mas frecuente es:

'student'

11. ¿Cuál es la edad media de los usuarios?

In [69]:
print("La edad media es:")
df["age"].mean()

La edad media es:

34.05196182396607

12. ¿Cuál es la edad con menos ocurrencia?

In [75]:
age_freq = df["age"].value_counts()
print("La edad con menos ocurrencia es:")
age_freq.index[-1]

La edad con menos ocurrencia es:

7

Nota: Al observar age_freq se puede ver que hay mas de una edad con menos ocurrencia las cuales dejamos a continuacion

In [82]:
age_freq.tail(5)

11    1
10    1
73    1
66    1
7     1
Name: age, dtype: int64